<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Malar:400,800" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    {{>partials/_navigation}}
    {{>partials/_header}}
    <main class="site-content">
      {{>partials/_about}}
    </main>

    <script src="bundle.js"></script>
  </body>
</html>