<section id="o_mnie" class="section-about">
  <div class="section-about__content">
    <article class="about-box">
      <img class="about-box__photo" src="img/photo-01.jpg" alt="To ja.">
      <div class="about-box__description">
        <h3 class="about-box__description__heading">Kim jestem?</h3>
        <p class="about-box__description__text">Jestem domorosłym koderem, który rozpoczął przygodę z&nbsp;programowaniem w&nbsp;wieku 12&nbsp;lat, kiedy w&nbsp;swoje ręce dorwał książeczkę KomputerŚwiata, z&nbsp;której poznał absolutne podstawy tworzenia programów w&nbsp;C++.</p>
      </div>
    </article>
  
    <article class="about-box">
      <img class="about-box__photo" src="img/photo-02.jpg" alt="To ja.">
      <div class="about-box__description">
        <h3 class="about-box__description__heading">Czym się zajmuję?</h3>
        <p class="about-box__description__text">Tworzę strony i aplikacje internetowe - z nastawieniem na to drugie. Szczególnie upodobałem sobie <strong>JavaScript</strong> i&nbsp;staram&nbsp;się go&nbsp;skutecznie wykorzystywać, zarówno przy&nbsp;aplikacjach front-endowych (<strong>Angular&nbsp;5</strong> oraz <b>odrobinkę</b> <strong>React 16</strong>), jak i back-endowych (<strong>Node.js</strong>, <strong>Express</strong>).</p>
        <p class="about-box__description__text">Ostatnio staję się coraz większym fanem kultury pisania <strong>testów automatycznych</strong> i staram się je wciskać, gdzie tylko się da.</p>
        <p class="about-box__description__text"></p>
      </div>
    </article>
  
    <article class="about-box">
      <img class="about-box__photo" src="img/photo-03.jpg" alt="To ja.">
      <div class="about-box__description">
        <h3 class="about-box__description__heading">A po godzinach...</h3>
        <p class="about-box__description__text">Prywatnie jestem graczem komputerowym i wielbicielem gryzoni, ze szczególnym uwzględnieniem myszoskoczków - to sprawiło, że wraz z narzeczoną przedsięwzięliśmy prace nad <a href="https://github.com/EnslavedEagle/egryzonie-web" target="_blank">projektem eGryzonie</a>, który w założeniu ma wspierać posiadaczy, opiekunów i właścicieli hodowli i domów tymczasowych dla gryzoni.</p>
      </div>
    </article>
  
    <article class="about-box">
      <img class="about-box__photo" src="img/photo-04.jpg" alt="To ja.">
      <div class="about-box__description">
        <h3 class="about-box__description__heading">Gdzie jestem?</h3>
        <p class="about-box__description__text">Wraz z&nbsp;narzeczoną, mieszkam sobie w&nbsp;małym miasteczku pod&nbsp;Poznaniem. Oczekuję na&nbsp;odpowiedni moment na&nbsp;relokację do&nbsp;dużego miasta, a&nbsp;w&nbsp;międzyczasie poszukuję najlepszego zespołu, z&nbsp;którym będzie można tworzyć coś&nbsp;fajnego w&nbsp;Internecie.</p>
        <p class="about-box__description__text">Jeśli jesteś częścią takiego zespołu i&nbsp;akurat szukacie fronta z&nbsp;delikatnym parciem na&nbsp;backend i&nbsp;samo programowanie, <a href="#kontakt">koniecznie daj&nbsp;mi&nbsp;znać</a>!</p>
      </div>
    </article>
  </div>
</section>