<section id="kontakt" class="section-contact">
  <h2 class="section-contact__heading">Kontakt</h2>
  <p class="section-contact__description">To tutaj jest miejsce na wspaniałe, zachęcające formułki w stylu "zbudujmy razem coś wspaniałego!". ;) Sądzę jednak, że jeśli tu trafiłeś, to wiesz już, co robić!</p>

  <div class="contact-box">
    <div class="contact-box__part contact-box__part--phone">
      <h3 class="contact-box__part__heading">Zadzwoń do mnie...</h3>
      <a class="contact-box__part__link" href="tel:+48514773604" title="+48 514 773 604">
        <img class="contact-box__part__image" src="img/phone-call.svg" alt="Zadzwoń pod numer">
      </a>
    </div>
    <div class="contact-box__part contact-box__part--email">
      <h3 class="contact-box__part__heading">...lub napisz</h3>
      <a class="contact-box__part__link" href="mailto:kontakt@patrykb.pl" title="kontakt@patrykb.pl">
        <img class="contact-box__part__image" src="img/email-send.svg" alt="Wyślij e-mail do kontakt@patrykb.pl">
      </a>
    </div>
  </div>

</section>