<footer class="site-footer">
  2018 Patryk Bernasiewicz. Zastrzegam sobie prawo do niczego. Kolorki, fonty, ikonki i inne ładne rzeczy wymyśliła <a href="https://www.behance.net/mariakuziola" target="_blank">Maria Kuzioła</a>.
</footer>