<header id="home" class="site-header active">
  <div class="site-header__container">
    <div class="site-header__content">
      <a href="#home" class="site-header__link site-header__link--hello">
        <img class="site-header__link__image" src="img/header-hello.svg" alt="Hello!">
      </a>
      <a href="#o_mnie" class="site-header__link site-header__link--about">
        <img class="site-header__link__image" src="img/header-about.svg" alt="O mnie">
      </a>
      <a href="#projekty" class="site-header__link site-header__link--projects">
        <img class="site-header__link__image" src="img/header-projects.svg" alt="Projekty">
      </a>
      <a href="#kontakt" class="site-header__link site-header__link--contact">
        <img class="site-header__link__image" src="img/header-contact.svg" alt="Kontakt">
      </a>
    </div>
  </div>
</header>