<nav class="site-navigation">
  <ul class="site-navigation__list">
    <li class="site-navigation__item"><a href="#home" class="site-navigation__link">Strona główna</a></li>
    <li class="site-navigation__item"><a href="#o_mnie" class="site-navigation__link">O mnie</a></li>
    <li class="site-navigation__item"><a href="#projekty" class="site-navigation__link">Projekty</a></li>
    <li class="site-navigation__item"><a href="#kontakt" class="site-navigation__link">Kontakt</a></li>
  </ul>
  <button type="button" class="site-navigation__toggle"></button>
</nav>